.banxin{
    width: 1240px;
    margin: 0 auto;
}
.kjdh{
	height: 52px;
	background-color: #333333;
}
.kjdh .banxin ul{
    float: right;
}
.kjdh .banxin li{
    float: left;
}
.kjdh .banxin li a{
    padding: 0 16px;
    border-right: 1px solid #666666;;
    line-height: 52px;
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #dcdcdc;
}
.kjdh .banxin li a span{
    display: inline-block;
    margin-right: 8px;
    width: 11px;
	height: 16px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    vertical-align: middle;
}
.kjdh .banxin li:last-child a{
    border: 0px;
}
.daohang{
    padding: 30px 0;
    height: 130px;
}
.daohang .logo {
    background-image: url(../images/logo.png);
    float: left;
    width: 207px;
	height: 70px;
    background-size: contain;
    margin-right: 40px;
    font-size: 0;
}
.daohang img{
    background-size: 50%;
}
.daohang ul{
    float: left;
}
.daohang li{
    float: left;
    margin-right: 48px;
}
.daohang ul li a{
    padding-bottom: 7px;
    font-family: PingFangSC-Regular;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
    line-height: 70px;
	letter-spacing: 0px;
	color: #333333;
}
.daohang ul li a:hover{
    color:#27ba9b;
    border-bottom: 1px solid #27ba9b;
}
.daohang .search{
    float: left;
    position: relative;
}
.daohang .search span{
    display: inline-block;
    position:absolute;
    left: 40px;
    top: 30px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprites.png);
    background-position: -79px -70px;

}
.daohang input{
    float: left;
    padding-left: 31px;
    width: 172px;
	height: 30px;
    margin-left: 34px;
    margin-top: 24px;
    border-bottom: 1px solid #e7e7e7;;
}
.daohang input::placeholder{
    font-family: PingFangSC-Regular;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #cccccc;
}
.daohang .gouwu{
    position: relative;
    float: left;
}
.daohang .gouwu .buycar{
    display: inline-block;
    margin-left: 15px;
    margin-top: 28px;
    width: 23px;
    height: 23px;
    background-image: url(../images/sprites.png);
    background-position: -119px -69px;
}

.daohang .gouwu span{
    position: absolute;
    left: 30px;
    top: 25px;
    width: 20px;
	height: 15px;
	background-color: #e26237;
	border-radius: 8px;
    font-family: PingFangSC-Medium;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
    line-height: 15px;
    text-align: center;
	letter-spacing: 0px;
	color: #ffffff;
}
.footer{
    height: 345px;
    background-color:#333333;
}
.footer .banxin{
    width: 1393px;
}
.footer .top{
    height: 175px;
    border-bottom: 3px solid #434343;
    padding-top: 60px;
    padding-left: 135px;
}
.footer .top ul li{
    float: left;
    margin-right:300px;
    width: 195px;
	height: 58px;
    line-height: 58px;
    font-family: PingFangSC-Light;
	font-size: 28px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #ffffff;
}
.footer .top ul li:last-child{
    margin-right: 0px;
}
.footer .top ul li .one{
    display: inline-block;
    width: 58px;
	height: 58px;
    background-image:url(../images/sprites.png);
    background-position: 0 0;
    vertical-align: middle;
    margin-right: 19px;
}
.footer .top ul li .two{
    display: inline-block;
    width: 58px;
	height: 58px;
    background-image:url(../images/sprites.png);
    background-position: -65px 0;
    vertical-align: middle;
    margin-right: 19px;
}
.footer .top ul li .three{
    display: inline-block;
    width: 58px;
	height: 58px;
    background-image:url(../images/sprites.png);
    background-position: -130px 0;
    vertical-align: middle;
    margin-right: 19px;
}
.footer .bottom{
    margin: 0 auto;
    width: 557px;
	height: 48px;
    margin-top: 41px;
    
}
.footer .bottom ul li{
    float: left;
}
.footer .bottom ul li a{
    padding: 0 10px;
    border-right: 1px solid #999999;
    font-family: PingFangSC-Light;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #999999;
}
.footer .bottom li:last-child a{
    border-right:0px;
}
.footer .bottom p{
    margin-top: 20px;
    text-align: center;
    font-family: PingFangSC-Light;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
}
